[Unit]
Description=DHT update daemon
After=local-fs.target network.target
[Service]
ExecStart=/usr/local/sbin/dht_updated.py
Type=simple
Restart=always
User=pi
Group=pi
[Install]
WantedBy=multi-user.target
